{% extends 'layouts/blank.html' %}

{% block content %} 

    <div class="max-w-4xl mx-auto px-8 py-24">
        <h1>New Project</h1>
    </div>
    <aside class="w-1/4 bg-gray-900 text-white rounded-2xl shadow-2xl p-4 hidden md:block">
        <h2 class="text-lg font-bold mb-4">Users</h2>
        <ul class="space-y-2">
            {% for user in users %}
                <li class="flex items-center gap-2 p-2 rounded-lg hover:bg-gray-700">
                    <img class="w-8 h-8 rounded-full object-cover" src="https://via.placeholder.com/40" alt="User Avatar">
                    <p><a href="{% url 'chat' user.id %}">{{ user.username }}</a></p>
                    <span id="unread_messages_badge" class="badge">0</span>

                </li>
            {% endfor %}
        </ul>
    </aside>

{% endblock %}